body{
    background-image: url('tkooo.avif');
    background-size: cover;
    background-attachment: fixed;
    
}
    h1{
     color: darkblue;
     font-size: larger;
     font-style: italic;
    }
    th{
        color: darkred;
    }
    p{
        font-size: medium;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: yellowgreen;border-style: ridge;
        border-color: hotpink;border-width: 10px;border-radius: 3px;
    }
    li{
        color: orange;
    }